/* clearfix */
			.cf:before,.cf:after{content: " ";display: table}.cf:after {clear: both}.cf {*zoom: 1}

			html, body {
				background: #222;
				font-family: sans-serif;
				margin: 0;
				padding: 0;
			}
			.f00px, .options {
				margin: 0 auto;
				padding: 10px;
				width: 1200px;
			}
			.f00px div, .options a {
				margin: 10px;
			}
			.f00px div {
				float: left;
				height: 280px;
				overflow: hidden;
				position: relative;
				width: 280px;
			}
			.f00px img, .options a {
				border-radius: 2px;
			}
			.f00px p, .options a {
				background: rgba(255, 255, 255, .2);
			}
			.f00px p {
				background: rgba(255, 255, 255, .2);
				bottom: -40px;
				height: 20px;
				line-height: 20px;
				margin: 0;
				overflow: hidden;
				padding: 10px;
				position: absolute;
				text-overflow: ellipsis;
				transition: bottom .5s;
				white-space: nowrap;
				width: 100%;
			}
			.f00px div:hover p {
				bottom: 0;
			}
			.options a {
				color: #222;
				display: inline-block;
				font-weight: bold;
				margin-bottom: 0;
				padding: 10px;
				text-decoration: none;
			}
			.options a.active {
				background: #333;
				color: rgba(255, 255, 255, .2);
			}